[user]
	email = 
	name = 
	
[core]
	excludesfile = ~/.gitignore

[alias]
	br = branch
	co = checkout
	ci = commit
	st = status
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	ca = !git add -A && git commit
	

